:root {
    --header-height: 62px;
    --upper-header-height: 42px;
    --lower-header-height: calc(var(--header-height) - var(--upper-header-height));
    --main-padding: 0px;
    --half-main-padding: 0px;
    --card-header-height: 40px;
    --bids-and-offers-spacer-height: 30px;
    --gray-light: #ced2d5;
    --sell-red: #dd6565;
    --sell-green: #65dd65;
}

#chart {
    height: 100%;
    max-height: 100%;
}

.zeros {
    opacity: 0.3;
}

.faded td, td.faded {
    opacity: 0.5;
}

.faded .zeros {
    opacity: 0.5;
}

.gas-price-value {
    font-weight: bold;
}

.shadow {
    /*box-shadow: 3px 6px 24px 0px rgba(200, 200, 200, 0.75);*/
}

.popover {
    font-size: 1rem;
}

.gas-prices .popover-body {
    padding: 0;
}

.ohlc-interval {
    display: flex;
    align-items: center;
}

.ohlc-interval-description {
    margin-right: 10px;
}

.clickable {
    cursor: pointer
}

.selected-row {
    font-weight: bold;
}

.wallet {
    float: left;
    width: 24px;
    height: 24px;
    margin: 5px;
}

.balances-heading {
    padding-top: 0 ! important;
    padding-bottom: 4px ! important;
    font-weight: normal;
    font-size: 80%;
}

.balances-amount {
    padding-top: 0 !important;
    padding-bottom: 4px !important;
}

.balances-separator {
    margin: 3px 0 3px 0;
}

.card {
    margin-bottom: var(--main-padding);
}

.card table {
    margin-bottom: 0;
    border-width: 0;
}

.card .table tr td:first-child,
.card .table tr th:first-child {
    border-left: 0;
}

.card .table tr td:last-child,
.card .table tr th:last-child {
    border-right: 0;
}

.card .table-no-bottom-border tr:last-child td,
.card .table-no-bottom-border tr:last-child th {
    border-bottom: 0;
}

.card .table-no-top-border tr:first-child td,
.card .table-no-top-border tr:first-child th {
    border-top: 0;
}

.card .table tr th {
    border-top: 0;
    border-bottom: 0;
}

.card-body {
    padding: 6px;
}

.card-body .pagination {
    margin-bottom: 0;
}

.card-header {
    padding: 8px;
    vertical-align: middle;
}

.card-header-button {
    padding: 3px 6px 3px 6px;
}

.card-footer {
    padding: 8px;
}

.card-title {
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-bottom: 0;
}

.card .table-bordered {
    border: 0;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.balances-component .card-body > div.form-group {
    margin-bottom: 6px !important;
}

.balances-component .card-body > div.form-group:last-child {
    margin-bottom: 0px !important;
}

body, html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    height: 100%;
    margin: 0;
    padding: 0;
}

.table td, .table th {
    padding: 6px;
}

.orders-col-border {
    border-style: solid;
    border-width: 1px 0;
}

.funding-action {
    margin-left: 0;
    padding-left: 0;
}

.orders-colnames {
    width: 100%;
    height: 100%;
}

.orders-colnames table {
    margin: 0;
    width: 100%;
    height: 100%;
}

.orders-colnames tbody {
    margin: 0;
    width: 100%;
}

.orders-colnames td {
    text-align: center;
    padding: 6px;
    width: 33%;
    border-top: 0;
    border-bottom: 0;
    font-weight: bolder;
}

.orders-colnames td:first-child {
    width: 34%;
    border: 0;
}

.orders-colnames td:last-child {
    border: 0;
}

#orders-div-offer {
    height: 100%;
    max-height: 100%;
}

#orders-div-offer tr:last-child td,
#orders-div-offer tr:last-child th {
    border-bottom: 0;
    border-top: 0;
}

#orders-div-bid {
    height: 100%;
    max-height: 100%;
}

#orders-div-bid tr:first-child td,
#orders-div-bid tr:first-child th {
    border-top: 0;
}

.card .orders-table table.table-bordered {
    width: 100%;
    border-style: solid;
    border-width: 0 1px 0 0;
}

.orders-table td, .orders-table th {
    width: 33%;
}

.orders-table td:first-child, .orders-table th:first-child {
    width: 34%;
}

.orders-table tr:first-child td {
    border-top: 0;
}

.orders-col-border tbody, .orders-col-border tr, .orders-col-border td {
    height: 100%;
}

.card-header ul.nav {
    padding-left: 10px;
}

.order-box {
    padding: 6px;
}

.order-box .form-group {
    margin-bottom: 6px;
}

.order-box .form-group:last-of-type {
    margin-bottom: 0;
}

.order-box label {
    padding-right: 0;
}

.nav-link.btn {
    margin-right: 10px;
}

h1.main-header {
    margin-bottom: 0;
    float: left;
}

.card-title {
    float: left;
}

.token-title {
    font-size: 200%;
}

.token-stats {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 0;
}

.token-stats:first-child {
    margin-left: 0;
}

.token-stats:last-child {
    margin-right: 0;
}

.token-stat-name {
    margin-right: 10px;
    font-weight: bold;
}

.token-stat-value {
}

.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    opacity: 0.7;
}

.disclaimer-header {
    font-weight: bold;
}

.disclaimer-version {
    opacity: 0.6;
    font-size: 80%;
}

.disclaimer-md p, .disclaimer-md li {
    opacity: 0.6;
    line-height: 1.4em
}

.popover-header {
    font-weight: bold;
    text-transform: uppercase;
}

.token-creator-form {
    display: flex;
    width: 100%;
}

.token-creator-address {
    flex-grow: 1;
    flex-basis: 90%;
}

.token-creator-add {
    flex-grow: 0;
    flex-shrink: 0;
}

.hdr-stretch-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.egspinner {
    width: 30px;
    height: 30px;
}

.hover {
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: .60;
    text-align: center;
}

.sub-card {
    margin-top: 10px;
    margin-bottom: 0;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.input-group-text {
    min-width: 48px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.fa-question-circle {
    cursor: pointer;
}

.nav-link {
    cursor: pointer
}

.nav-link.active {
    cursor: default
}

.global-messages {
    position: fixed;
    width: calc(50% - 20px);
    bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.global-message {
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-spinner {
    padding-right: 5px;
}

.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 50px;
}

/* layout bits and pieces */

#app {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    height: var(--header-height);
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--upper-header-height);
    box-sizing: border-box;
    padding-left: 4px;
    border-bottom: 1px solid var(--gray-dark);
}

.upper-header > div {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-basis: 33%;
}

.upper-header > div.token-summary {
    justify-content: center;
}

.upper-header > div.user-buttons {
    flex-basis: 34%;
    justify-content: flex-end;
}

.lower-header {
    background: var(--secondary);
    height: var(--lower-header-height);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.upper-header .navbar {
    padding: 0;
}

.page-content {
    height: 100vh;
}

.route-content {
    height: calc(100% - var(--header-height));
    padding: var(--main-padding) 0;
}

.main-warning {
    margin: var(--main-padding);
    margin-right: -4px;
}

.route-content > div {
    height: 100%;
}

.row {
    margin: 0;
}

.global-message .row, .card .row {
    margin-left: -15px;
    margin-right: -15px;
}

.card.last-card {
    margin-bottom: 0px;
}

.main-col {
    padding: 0px var(--main-padding);
}

/* history page layout */

.history-row {
    height: 50%;
}

.history-component {
    height: 100%;
}

.history-component .card {
    height: 100%;
}

.deposit-history-container {
    padding-left: var(--main-padding);
    padding-right: var(--half-main-padding);
}

.withdraw-history-container {
    padding-left: var(--half-main-padding);
    padding-right: var(--main-padding);
}

.trade-history-container {
    padding: var(--main-padding) var(--main-padding) 0 var(--main-padding);
}

/* exchange page layout */

.exchange-left-col {
    display: flex;
    flex-direction: column;
}

.balances-component {
    flex-grow: 0;
    flex-shrink: 0;
}

.token-chooser-component {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100px;
}

.unlisted-tokens-component {
    height: 100%;
}

.unlisted-tokens-component .card {
    height: 100%;
}

.unlisted-tokens-component .form-group {
    margin-bottom: 8px;
}

.exchange-right-col {
    display: flex;
    flex-direction: column;
}

.price-chart-component {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
    max-height: 60%;
    height: 60%;
    display: flex;
}

.price-chart-component .card-body {
    height: calc(100% - 40px - 40px);
    padding-top: 0;
}

.price-chart-component .ohlc-interval {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.price-chart-form {
    margin: 5px 0px 5px 3px;
}

.order-depth-chart-component {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
    max-height: 40%;
    height: 40%;
}

.order-depth-chart-component .card-body {
    height: calc(100% - 40px);
    padding-top: 0;
}

.chart-component .js-plotly-plot, .chart-component .plot-container, .chart-component .svg-container, .chart-component .main-svg {
    height: 100%;
    max-height: 100%;
}

.market-trades-component {
    height: 100%
}

.exchange-middle-col {
    display: flex;
    flex-direction: column;
}

.exchange-top {
    padding-bottom: var(--main-padding);
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 75%;
    height: 75%;
    max-height: 75%;
    display: flex;
}

.trading-and-orderbook-component > div {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 50%;
}

.open-orders-and-pending-trades-component {

}

.exchange-bottom {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 25%;
    height: 25%;
    max-height: 25%;
}

.trading-and-orderbook-component .card {
    height: 100%;
}

.bids-and-offers {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--card-header-height));
    max-height: calc(100% - var(--card-header-height));
    min-height: calc(100% - var(--card-header-height));
}

.bids-and-offers-spacer {
    flex-grow: 0;
    flex-shrink: 0;
    height: var(--bids-and-offers-spacer-height);
    max-height: var(--bids-and-offers-spacer-height);
    min-height: var(--bids-and-offers-spacer-height);
    overflow: hidden;
}

.bids-and-offers-bids, .bids-and-offers-offers {
    flex-basis: calc(50% - var(--bids-and-offers-spacer-height) / 2);
    flex-shrink: 0;
    flex-grow: 0;
    height: calc(50% - var(--bids-and-offers-spacer-height) / 2);
    max-height: calc(50% - var(--bids-and-offers-spacer-height) / 2);
    min-height: calc(50% - var(--bids-and-offers-spacer-height) / 2);
}

.card-header {
    height: var(--card-header-height);
    min-height: var(--card-header-height);
    max-height: var(--card-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* end layout bits and pieces */

.etherscan-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-left: 0 !important;
}

.before-etherscan-column {
    padding-right: 0 !important;
    white-space: nowrap;
    border-right: 0 !important;
}

.nopad {
    padding: 0;
}

.card-body {
    max-height: calc(100% - var(--card-header-height));
}

.full-height {
    height: 100% !important;
    max-height: 100%;
    min-height: 100%;
}

.input-unit {
    position: absolute;
    right: 16px;
    top: 8px;
    font-weight: bold;
    z-index: 5;
}

.numeric-input-slider, .percentage-slider {
    margin-bottom: 12px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.numeric-input-addendum, .percentage-slider-addendum {
    padding-top: 12px;
    padding-bottom: 10px;
    text-align: right;
    opacity: 0.5;
    padding-right: 10px
}

.numeric-input-addendum > div {
    padding-top: 6px;
}

.invalid-feedback {
    z-index: 20;
    border: 1px solid;
    padding: 6px;
    border-radius: .25rem;
}

.feedback-above {
    position: absolute;
    bottom: 34px;
    left: 0;
    z-index:20;
}

.feedback-below {
    position: absolute;
    top: 34px;
    left: 0;
    z-index:20;
}

.trading-fees {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.trading-fees td:first-child {
    text-align: right;
}

.trading-fees td:last-child {
    opacity: 1;
}

.trading-fees td {
    vertical-align: top;
    padding: 6px;
    opacity: 0.5;
}

.order-hash-label {
    padding-left: 15px;
    padding-top: 6px;
}

.order-hash-popover {
    max-width: 40%;
}

.best-execution-warning {
    margin-top: 10px;
}

.card .table td {
    vertical-align: middle;
}

.open-orders-component, .pending-trades-component {
    height: calc(100% - var(--card-header-height));
}

/*
     Theme
*/

/*chart*/
.plotly .main-svg {
    background-color: transparent !important;
}

.plotly .bglayer, .plotly .bg {
    background-color: transparent !important;
}

/*scrollbars*/
.custom-scrollbar {
    background-color: var(--primary);
    border-color: var(--primary);
    border-width: 10px 0;
    border-radius: .25rem;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
}

.custom-scrollbar:hover {
    opacity: 1;
}

.price-chart-component .ohlc-interval {
    border-bottom-color: var(--secondary);
}

.invalid-feedback {
    border-color: white;
    background-color: var(--danger) !important;
    font-size: 1rem;
    color: white;
}

body {
    background: #2d2e2f;
}

.card {
    /*background: #363839;*/
    color: var(--gray-light);
}

.sell-red {
    color: #dd6565;
}

.buy-green {
    color: #65dd65;
}

.text-muted {
    color: grey
}

.clr-warn {
    color: #ff9933;
}

.trading-buy-sell-nav .fa-question-circle {
    color: #a5a5a5
}

.wallet {
    background: rgb(93, 170, 252);
}

.hover {
    background: gray;
}

.numeric-input .invalid-feedback {
    background: #FFFFFF;
}

.orders-col-border {
    border-color: var(--gray-dark);
}

.orders-colnames, .orders-col-border {
    background: var(--secondary);
}

.orders-colnames, .table-bordered {
    border-color: black;
}

.text-light {
    color: var(--white) !important;
}

.popover {
    border: 1px solid var(--gray);
    border-radius: 0;
}

.popover-body .card {
    padding: 6px;
}

.popover-body {
    color: var(--gray-light);
}

.rc-slider-rail {
    background: var(--primary);
}

.rc-slider-dot {
    background: var(--gray-dark);
    border-color: var(--gray);
}

.rc-slider-disabled {
    background: var(--gray-dark);
}

.rc-slider-handle {
    background: var(--gray-dark);
    border-color: var(--gray);
}

/*
.rc-slider-handle:hover {
    background:var(--gray-dark);
    border-color:var(--white);
}
*/

.rc-slider-handle:active {
    background: var(--gray-dark);
    border-color: var(--white);
}

.btn-tiny {
    padding: 0.125rem 0.25rem;
    font-size: 0.7203125rem;
}

.button-row {
    padding: 3px;
}

.input-unit, .input-unit.disabled {
    color: var(--gray);
}

.navbar-card li a {
    border-right: 1px solid var(--gray-light);
}

.navbar-card li a:hover {
    color: var(--green) !important;
}

.navbar-card li:last-child a {
    border-right: 2px solid transparent;
}

.action-button {
    width: 80px;
    padding-left: 3px;
}

.balance-token-name {
    font-size: 13px;
}

.unlisted-token-valid {
    width: 100%;
}

.unlisted-tokens-component .card .table tr th {
    border-top: 1px solid var(--secondary);
}

.fair-value-list {
    padding-left: 20px;
}

.order-box {
    padding-top: 10px;
}

.trading-buy-sell-nav {
    padding-bottom: 8px;
}

.trading-nav-buy-selected {
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.trading-nav-sell-selected {
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.trading-nav-buy {
    background: var(--dark);
    border: 1px solid var(--green) !important;
    color: var(--green) !important;
    cursor: pointer;
    margin-right: 6px;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.trading-nav-sell {
    background: var(--dark);
    border: 1px solid var(--sell-red) !important;
    color: var(--sell-red) !important;
    cursor: pointer;
    margin-left: 6px;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.trading-nav-buy:not(.active), .trading-nav-sell:not(.active) {
    background: var(--dark);
    border: 1px solid var(--gray-light) !important;
    color: var(--gray-light) !important;
}

.trading-nav-buy:not(.active):hover, .trading-nav-sell:not(.active):hover {
    -webkit-box-shadow: 0 0 0 0.05rem var(--gray-light) !important;
    box-shadow: 0 0 0 0.05rem var(--gray-light) !important;
}

.order-box {
    border-width: 0;
}

.nav-link.active.nav-trading-type {
    background: inherit;
}

.nav-link:not(.active).nav-trading-type {
    background: inherit;
    color: grey;
}

.nav-link.active.buyActive.nav-trading-type {
    background: inherit;
    border-bottom: 2px solid var(--green) !important;
}

.nav-link:not(.buyActive).active.nav-trading-type {
    background: inherit;
    border-bottom: 2px solid var(--red) !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: inherit;
}

.nav-link.nav-trading-type:not(.active) {
    background: inherit;
    border-bottom: 1px solid #444444;
}

.trading-and-orderbook-component .card-body {
    display: flex;
    flex-direction: column;
}

.trading-and-orderbook-component .card-body > ul {
    flex-grow: 0;
    flex-shrink: 0;
}

.trading-and-orderbook-component .card-body > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.trading-types {
    display: flex;
    flex-direction: column;
}

.trading-types > ul {
    flex-grow: 0;
    flex-shrink: 0;
}

.trading-types > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.trading-types .tab-content {
    height: 100%;
    border: 1px solid #444444;
    border-top-width: 0;
}

.padded-popover .popover-inner {
    margin: 8px;
}

.middle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-header .alert {
    padding-left: 6px;
    padding-right: 6px;
}

.token-search-input {
    width: 34%;
}

.logo {
    height: 28px;
}

@media (max-width: 992px) {
    .no-mobile {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .header {
        height: auto;
    }

    .upper-header {
        padding-left: 0;
        height: auto;
    }

    .logo-and-main-nav {
        order: 1;
    }

    .logo-and-main-nav .nav-item {
        border-right: 1px solid white;
    }

    .logo-and-main-nav .nav-item:last-child {
        border-right: 0;
    }

    .logo-and-main-nav .nav-link {
        font-size: 120%;
    }

    .token-summary {
        order: 3;
        padding: 10px;
        border-top: 1px solid var(--gray-dark);
        width: 100%;
    }

    .user-buttons {
        order: 2;
    }

    .lower-header {
        height: auto;
    }

    .upper-header {
        flex-direction: column;
    }

    .upper-header > div:first-child {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .lower-header {
        flex-direction: column;
        padding: 10px;
    }

    .trading-and-orderbook-component {
        flex-direction: column;
    }

    .trading-and-orderbook-component > div {
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: auto;
    }
}

.red {
    background:red;
    flex-basis: 100%;
}

.children-are-header-and-body {
    display: flex;
    flex-direction: column;
}

.children-are-header-and-body > div:first-child {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.children-are-header-and-body > div:last-child {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
}

.limited-padding {
    padding:4px 2px 2px 2px;
}